<h2>Welcome to ChrisApp,</h2>
===============================================
<p>You have successfully signed up to Sea Card app,
your username is: <%= @user.parent_email %>.
Thanks for joining <%= @user.parent_name%>...</p>
